{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/formulario.css' %}">

<link rel="stylesheet" type="text/css" href="{% static "css/signin.css" %}">
<body class="text-center">

  {% if form.non_field_errors %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      {% for error in form.non_field_errors %}
        <p{% if forloop.last %} class="mb-0"{% endif %}>{{ error }}</p>
      {% endfor %}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {% endif %}


      <form class="form-signin" method="post" enctype="multipart/form-data">
      <center> <img class="mb-4 img-thumbnail" src="{% static "img/logo.jpg" %}" alt="" width="200" height="100"></center>
        <h1 class="h3 mb-3 font-weight-normal text-center">INGRESAR</h1>
        {% csrf_token %}
        <input type="hidden"  name="next" value="{{ next }}">
          <label for="inputEmail" class="sr-only">Ingrese su Correo</label>
          <input type="email" id="inputEmail" class="form-control" placeholder="Ingrese su Correo" name="username" required >
          <label for="pw" class="sr-only">Contraseña</label>
          <input type="password" id="pw" class="form-control" placeholder="Contraseña" name="password" required>
          <div class="checkbox mb-3">
            <label>
              <input type="checkbox" id="box" onclick ="reveal()"> Mostrar Contraseña
            </label>
          </div>
              
       <button type="submit" class="btn btn-lg btn-primary btn-block">Entrar</button>
        <p class="mt-5 mb-3 text-center text-muted">&copy; 2020</p>
      </form>





</body>


<script type="text/javascript">
  function reveal()
  {
  if(document.getElementById('box').checked)
     {document.getElementById("pw").type='text';}
  else
  document.getElementById("pw").type='password';
  }
  </script> 
{% endblock %}
