{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'coordinacion/header_r.html' with active='new' %}
<br>
<div class="table-responsive">
    <table id="example" class="table table-striped table-bordered display table-sm" >
        <thead>
            <tr>
                <th class="text-center">#</th>
                <th class="text-center" scope="col">Postulante</th>
                <th class="text-center" scope="col">Cargo</th>
                <th class="text-center" scope="col">Titulo</th>
                <th class="text-center" scope="col">Colegio</th>
                <th class="text-center" scope="col">Motivo rechazo</th>
                <th></th>
            </tr>
        </thead>
        
        <tbody>
        {% for postulante in postulante %}
            
        {% if postulante.rechazar == True %}
        <tr>
            <td class="text-center">{{forloop.counter}}</td>
            <td class="text-center">
                <a onclick="return abrir_modal('{% url 'coordinacion:info' postulante.pk %}','Postulante')" data-toggle="tooltip"  title="Ver Información">{{postulante.nombre}} {{postulante.apellido_p}} {{postulante.apellido_m}}</a>
            </td>                
            <td class="text-center">{{postulante.cargo}}</td>
            <td class="text-center">{{postulante.titulo}}</td >
            <td class="text-center"> {{postulante.colegio1}} </td>
            <td class="text-center"><span class="badge badge-pill badge-danger">Falló Psicolaboral</span></td>

            <td>                   
                <a href="" class="btn btn-primary btn-sm"> Rúbricas</a>
            </td>              
        </tr>
        {% endif %}
        {% if postulante.rechazar_rector == True %}
        <tr>
            <td class="text-center">{{forloop.counter}}</td>
            <td class="text-center">
                <a onclick="return abrir_modal('{% url 'coordinacion:info' postulante.pk %}','Postulante')" data-toggle="tooltip"  title="Ver Información">{{postulante.nombre}} {{postulante.apellido_p}} {{postulante.apellido_m}}</a>
            </td>                
            <td class="text-center">{{postulante.cargo}}</td>
            <td class="text-center">{{postulante.titulo}}</td >
            <td class="text-center"> {{postulante.colegio1}} </td>
            <td class="text-center"><span class="badge badge-pill badge-danger">Falló Rector</span></td>

            <td>                   
                <a href="" class="btn btn-primary btn-sm"> Rúbricas</a>
            </td>              
        </tr>
        {% endif %}
        {% if postulante.rechazar_demos == True %}
        <tr>
            <td class="text-center">{{forloop.counter}}</td>
            <td class="text-center">
                <a onclick="return abrir_modal('{% url 'coordinacion:info' postulante.pk %}','Postulante')" data-toggle="tooltip"  title="Ver Información">{{postulante.nombre}} {{postulante.apellido_p}} {{postulante.apellido_m}}</a>
            </td>                
            <td class="text-center">{{postulante.cargo}}</td>
            <td class="text-center">{{postulante.titulo}}</td >
            <td class="text-center"> {{postulante.colegio1}} </td>
            <td class="text-center"><span class="badge badge-pill badge-danger">Falló Clase Demostrativa</span></td>

            <td>                   
                <a href="" class="btn btn-primary btn-sm"> Rúbricas</a>
            </td>              
        </tr>
        {% endif %}
        {% endfor %}
        
    </tbody>
</table>

</div>

<div id="popup"></div>

<script>
    var modal;
    function abrir_modal(url, titulo)
    {
        modal = $('#popup').dialog(
        {
            title: titulo,
            modal: true,
            width: 900,
            resizable: false
        }).dialog('open').load(url)
    }
    
    function cerrar_modal()
    {
        modal.dialog("close");
    }
</script>

{% endblock %}