{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
{% include 'rector/header.html' with active='new4' %}

<br>
<div class="table-responsive">
    <table id="example" class=" table table-striped table-bordered display table-sm" >
        <thead>
            <tr>
                <th class="text-center" scope="col">Postulante</th>
                <th class="text-center" scope="col">Cargo</th>
                <th class="text-center" scope="col">Título</th>

                <th class="text-center" scope="col">Estado</th>
                <th class="text-center">Rúbricas aplicadas</th>
                <th class="text-center"></th>

            </tr>
        </thead>
        
        <tbody>
        {% for postulante in postulante %}
            <tr>
                <td class="text-center"><a onclick="return abrir_modal('{% url 'rectores:info' postulante.pk %}','Postulante')" data-toggle="tooltip"  title="Ver Información">{{postulante.nombre}} {{postulante.apellido_p}} {{postulante.apellido_m}}</a></td>
                <td class="text-center">{{postulante.cargo}}</td>
                <td class="text-center">{{postulante.titulo}}</td>
                
                
                {% if postulante.psicologa == True %}
                <td class="text-center"><span class="badge badge-pill badge-primary pulse">Aprobado Psicolaboral</span></td>
                {% else %}
                {% if postulante.rechazar == True %}
                <td class="text-center"><span class="badge badge-pill badge-danger">Rechazado</span></td>
                {% else %}
                <td class="text-center"><span class="badge badge-pill badge-primary pulse">Entrevista</span></td>

                {% endif %}
                {% endif %}
                <td class="text-center">
                    <a href="{% url 'rectores:rubricas' postulante.pk %}" class="btn btn-primary btn-sm">Rúbricas</a>
                </td>
                {% if postulante.psicologa == True %}   
                <td><a href="{% url 'rectores:ficha' postulante.pk %}" class="btn btn-primary btn-sm">Subir Ficha FAT</a></td>     
                {% else %}
                {% if postulante.rechazar == True %} 
                <td><a href="{% url 'rectores:reportar' postulante.pk %}" class="btn btn-primary btn-sm">Reportar rechazado</a></td>  
                {% else %}   
                <td></td>
                {% endif %}
                {% endif %}
            </tr>

        {% endfor %}
        </tbody>
    </table>
    

</div>

<div id="popup"></div>



<script>
    var modal;
    function abrir_modal(url, titulo)
    {
        modal = $('#popup').dialog(
        {
            title: titulo,
            modal: true,
            width: 900,
            resizable: false
        }).dialog('open').load(url)
    }
    
    function cerrar_modal()
    {
        modal.dialog("close");
    }
</script>

{% endblock %}
