{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'rector/header.html' with active='new7' %}

<br>
<div id="popup"></div>

<div class="table-responsive">
    <table id="example" class="table table-striped table-bordered display table-sm">
        <thead>
            <tr>
                <th class="text-center">#</th>
                <th class="text-center">Postulante</th>
                <th class="text-center">Cargo</th>
                <th class="text-center">Titulo</th>
                <th class="text-center">Colegio</th>
                <th class="text-center">Estado</th>
                <th class="text-center">Rubricas</th>

            </tr>
        </thead>
        
        <tbody>
        {% for postulante in postulante %}
            <tr>
                <td class="text-center">{{forloop.counter}}</td>

                <td class="text-center">
                    <a onclick="return abrir_modal('{% url 'coordinacion:info' postulante.pk %}','Postulante')" data-toggle="tooltip"  title="Ver Información">{{postulante.nombre}} {{postulante.apellido_p}} {{postulante.apellido_m}}</a>
                </td>
                <td class="text-center">
                    {{postulante.cargo}}
                </td>
                <td class="text-center">{{postulante.titulo}}</td>
                <td class="text-center">{{postulante.colegio1}}</td>

                {% if postulante.aceptada == True %}
                <td class="text-center"> <span class="badge badge-pill badge-success ">Oferta aceptada</span> </td>
                {% else %}
                <td class="text-center"> <span class="badge badge-pill badge-danger ">Oferta Rechazada</span> </td>

                {% endif %}
                <td><a href="{% url 'rectores:rubricas' postulante.pk %}" class="btn btn-primary btn-sm"> Rúbricas</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    

</div>

<script>
    var modal;
    function abrir_modal(url, titulo)
    {
        modal = $('#popup').dialog(
        {
            title: titulo,
            modal: true,
            width: 900,
            resizable: false
        }).dialog('open').load(url)
    }
    
    function cerrar_modal()
    {
        modal.dialog("close");
    }
</script>

{% endblock %}