{% load static %}
{% load crispy_forms_tags humanize %}
<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>

        <span class="mb-3">Estimado/a señor/a <strong>{{postulante.nombre}} {{postulante.apellido_p}} {{postulante.apellido_m}}.</strong> </span>
        <p>Lamentamos informarle que su postulación para trabajar en uno de nuestros colegio el cual seria como primera prioridad <strong>{{postulante.colegio1}}</strong> ah sido rechazada.</p>
        <a href="http://localhost:8000{{postulante.cv.url}}" target="_blank"><i class="fas fa-file-download"></i>Descargar</a>

        <br>

        <br>


        <footer>
            <br>
            <hr>
            <a href="https://www.bostoneduca.cl/">
                <img   src="https://www.bostoneduca.cl/images/logo.jpg?v13" height="70px" class=" img-fluid rounded"  alt="">
            </a>
        </footer>
       
    </body>
</html>