{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}


{% include 'rector/header.html' with active='new8' %}

<br>

<div class="table-responsive">
    <table id="example" class=" table table-striped table-bordered display table-sm" >
        <thead>
            <tr>
                <th class="text-center">#</th>
                <th class="text-center" scope="col">Postulante</th>
                <th class="text-center" scope="col">Cargo</th>
                <th class="text-center" scope="col">Título</th>
                <th class="text-center" scope="col">Colegio</th>
                <th class="text-center" scope="col">Disponibilidad</th>
                <th class="text-center" scope="col">Rubricas</th>
                <th></th>

            </tr>
        </thead>
        
        <tbody>
        {% for postulante in postulantes %}
            <tr>
                <td class="text-center">{{forloop.counter}}</td>
                <td class="text-center"><a onclick="return abrir_modal('{% url 'rectores:info' postulante.pk %}','Postulante')" data-toggle="tooltip"  title="Ver Información">{{postulante.nombre}} {{postulante.apellido_p}} {{postulante.apellido_m}}</a></td>
                <td class="text-center">{{postulante.cargo}}</td>
                <td class="text-center">{{postulante.titulo}}</td>
                <td class="text-center"> {{postulante.colegio1}}</td>
                <td class="text-center">{% for disponibilidad in postulante.disponibilidad.all %} |{{disponibilidad.name}}|  {% endfor %}</td>
                
                <td class="text-center">
                    <a href="{% url 'rectores:rubricas' postulante.pk %}" class="btn btn-primary btn-sm">Rúbricas</a>
                </td>                
                <td class="text-center">                   
                    <a href="{% url 'rectores:oferta' postulante.pk %}" class="btn btn-primary btn-sm">Oferta Laboral</a>
                </td>    

            </tr>
        {% endfor %}
        </tbody>
    </table>



</div>

<div id="popup"></div>



<script>
    var modal;
    function abrir_modal(url, titulo)
    {
        modal = $('#popup').dialog(
        {
            title: titulo,
            modal: true,
            width: 900,
            resizable: false
        }).dialog('open').load(url)
    }
    
    function cerrar_modal()
    {
        modal.dialog("close");
    }
</script>

{% endblock %}