{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/formulario.css' %}">
<title>{% block title %} Trabaja con nosotros {% endblock %} </title>
<center><h2 ><strong> TRABAJA CON NOSOTROS</strong></h2></center>
<br>
<br>
<form method="post" enctype="multipart/form-data" novalidate>

                <div class="row">
                    <br>
                    {% csrf_token %}

                    <ul class="nav nav-tabs mb-3">

                      <li class="nav-item" style="background-color: darkturquoise;">
                        <li class="nav-link active"> <strong>Datos personales</strong> </li>

                      </li>
                      <br>
                      <div class="col-12"></div>
                      <div class="col-12"></div>
                      <br>
                          <div class="col-2"> 
                          <label for="id_rut" class="col-form-label requiredField" >Rut<span class="asteriskField">*</span></label>
                          <input class="form-control" type="text" id="rut" name="rut" required="id_rut" oninput="checkRut(this)" onkeypress="return isNumber(event)" placeholder="Ingrese RUT">
                          </div>
                          <div id="alerta" class="alert  alert-dismissible fade show text-center col-12 " role="alert">
                            <span id="mensaje"></span>
                          </div>
                          <br>
                          <div class="col-4"> {{form.nombre|as_crispy_field}} </div>
                          <div class="col-4">{{form.apellido_p|as_crispy_field}}</div> 
                          <div class="col-4">{{form.apellido_m|as_crispy_field}}</div>  
                    </ul>
                    <br>
                    <ul class="nav nav-tabs mb-3" >
                      <li class="nav-item" >
                        <li class="nav-link active" > <strong>Datos de contacto</strong> </li>
                      </li>
                      <div class="col-12"></div>
                      <div class="col-12"></div>
                      <br>

                      <div class="col-4">{{form.telefono|as_crispy_field}}</div> 
                      <div class="col-4">{{form.email|as_crispy_field}}</div> 
                      <div class="col-4"></div>
                    </ul>
                    <br>
                    <ul class="nav nav-tabs mb-3">
 
                        <li class="nav-item">
                          <li class="nav-link active"> <strong>Datos Postulante</strong></li> 
                        </li>
                        <div class="col-12"></div>
                          <br>
                          <br>
                        <div class="col-12"></div>
                        <div class="col-4" >{{form.cargo|as_crispy_field}}</div> 
                        <div class="col-4">{{form.titulo|as_crispy_field}}</div>
                        <div class="col-4" >{{form.años|as_crispy_field}}</div> 
                        <div class="col-12"></div>
            
                        <br>
                        <div class="col-4" >{{form.colegio1|as_crispy_field}}</div> 
                        <div class="col-4" >{{form.colegio2|as_crispy_field}}</div> 
                        <div class="col-4" >{{form.colegio3|as_crispy_field}}</div> 

                        <div class="col-4" >{{ form.disponibilidad|as_crispy_field }}</div> 
                        <div class="col-4">{{form.nivel_ingles|as_crispy_field}}</div>
                        <div class="col-4">{{form.nivel_tec|as_crispy_field}}</div>
                        <div class="col-4" >{{form.cv|as_crispy_field}}</div> 
                        <div class="col-4">{{form.otros_documentos|as_crispy_field}}</div><a href="" data-toggle="modal" data-target="#exampleModal"><i class="far fa-question-circle"></i></a> 
                      </div>
                      <br>
                    </ul>

                    <ul class="nav nav-tabs mb-3">
 
                        <li class="nav-item">
                          <li class="nav-link active"id="flip" > <strong>Referencia Laboral</strong></li> 
                        </li>

                        <div class="container" id="panel">
                            <p class="text-muted">*Agregar al menos una referencia de una relación laboral de un supervisor o jefe.</p>
                            <br>
                            <div class="row">
                            <div class="col-sm-6">
                              <div class="col-6">{{form.nombre_r|as_crispy_field}}</div>  
                              <div class="col-6">{{form.cargo_r|as_crispy_field}}</div>
                              <div class="col-6">{{form.instituto_r|as_crispy_field}}</div>
                              <div class="col-6">{{form.corre_r|as_crispy_field}}</div>
                              <div class="col-6">{{form.telefono_r|as_crispy_field}}</div>
                              <div class="col-6">{{form.relacion_r|as_crispy_field}}</div>
                            </div>
                            <div class="col-sm-6">
                              <div class="col-6">{{form.nombre_r_2|as_crispy_field}}</div>  
                              <div class="col-6">{{form.cargo_r_2|as_crispy_field}}</div>
                              <div class="col-6">{{form.instituto_r_2|as_crispy_field}}</div>
                              <div class="col-6">{{form.corre_r_2|as_crispy_field}}</div>
                              <div class="col-6">{{form.telefono_r_2|as_crispy_field}}</div>
                              <div class="col-6">{{form.relacion_r_2|as_crispy_field}}</div>  
                            </div>
                          </div>
                        </div>

                      <br>

                    </ul>
                    <button type="submit" class="btn btn-success btn-md">Postular</button> 


                    <br>
                </div>
              </form>

              <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel"><i class="far fa-question-circle"></i> Información sobre otros documentos</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      Puedes ingresar aquí algún documento extra para complementar tu currículum.
                    </div>

                  </div>
                </div>
              </div>


              <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel"><i class="fas fa-info-circle"></i> Postulación enviada.</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      Gracias por tu interés. Revisaremos tus antecedentes y nos pondremos en contacto a la brevedad si tu perfil se ajusta al cargo que estamos buscando.
                    </div>

                  </div>
                </div>
              </div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.js" integrity="sha256-o8aByMEvaNTcBsw94EfRLbBrJBI+c3mjna/j4LrfyJ8=" crossorigin="anonymous"></script>    
<script src="{% static 'mycollections/libraries/django-dynamic-formset/jquery.formset.js' %}"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="{% static "js/jquery.plugin.min.js" %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.rut.js' %}"></script>

<script type="text/javascript" src="{% static 'js/comunas.js' %}"></script>
<script src="{% static "js/validarRUT.js" %}"></script>


{% if successful_submit %}
    <script type="text/javascript">
        $(document).ready(function(){
            $("#exampleModal2").modal('show');
        });
    </script>
{% endif %}

<script> 
  $(document).ready(function(){
    $("#flip").click(function(){
      $("#panel").slideToggle("slow");
    });
  });
  </script>
<script type="text/javascript">
  $('.formset_row-{{ formset.prefix }}').formset({
      addText: 'Añadir otro colegio',
      deleteText: 'Remover',
      prefix: '{{ formset.prefix }}',
  });
</script>



{% endblock %}
