{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}


{% include 'coordinacion/header_c.html' with active='new' %}

<br>
<div class="table-responsive">
    <table id="example" class="table table-striped table-bordered display table-sm" >
        <thead>
            <tr>
                <th class="text-center">#</th>
                <th class="text-center" scope="col">Postulante</th>
                <th class="text-center" scope="col">Cargo</th>
                <th class="text-center" scope="col">Titulo</th>
                <th class="text-center" scope="col">Colegio</th>
                <th class="text-center" scope="col">CV</th>
                <th class="text-center" scope="col">Estado</th>
                <th class="text-center" scope="col">Fecha</th>

                <th></th>
            </tr>
        </thead>
        
        <tbody>
        {% for postulante in postulante %}
            <tr>
                <td class="text-center">{{forloop.counter}}</td>
                <td class="text-center">{{postulante.nombre}} {{postulante.apellido_p}} {{postulante.apellido_m}}</td>
                <td class="text-center">{{postulante.cargo}}</td>
                <td class="text-center">{{postulante.titulo}}</td >
                <td class="text-center"> {{postulante.colegio1}} </td>
                <td class="text-center"><a href="{{postulante.cv.url}}" target="_blank"><i class="fas fa-file-download"></i></a></td>
                {% if postulante.valido == False %}
                <td class="text-center"><span class="badge badge-pill badge-primary pulse">Nuevo</span></td>
                {% endif %}
                <td class="text-center">{{postulante.postulacion.enviada|date:"d/m/Y"}}</td>

                <td><a onclick="return abrir_modal('{% url 'coordinacion:info' postulante.pk %}','Postulante')" class="btn btn-primary btn-sm" style="color: white;">Detalles</a></td>            
            </tr>
        {% endfor %}
        </tbody>
    </table>
    

</div>

<div id="popup"></div>

<script>
    var modal;
    function abrir_modal(url, titulo)
    {
        modal = $('#popup').dialog(
        {
            title: titulo,
            modal: true,
            width: 900,
            resizable: false
        }).dialog('open').load(url)
    }
    
    function cerrar_modal()
    {
        modal.dialog("close");
    }
</script>

{% endblock %}