{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}


{% include 'psicologa/header.html' with active='new2' %}

<br>

<div class="table-responsive">
    <table id="example" class=" table table-striped table-bordered display table-sm" >
        <thead>
            <tr>
                <th scope="col">Postulante</th>
                <th scope="col">Cargo</th>
                <th scope="col">Colegio</th>
                <th scope="col">Disponibilidad</th>
                <th scope="col">Años Experiencia</th>
                <th scope="col">CV</th>
                <th></th>
                <th></th>

            </tr>
        </thead>
        
        <tbody>
        {% for postulante in postulantes %}
            <tr>
                <td>{{postulante.postulacion.nombre}} {{postulante.postulacion.apellido_p}} {{postulante.postulacion.apellido_m}}</td>
                <td>{{postulante.postulacion.cargo}}</td>
                <td> {{postulante.postulacion.colegio1}}</td>
                <td>{% for disponibilidad in postulante.postulacion.disponibilidad.all %} |{{disponibilidad.name}}|  {% endfor %}</td>
                
                <td>{{postulante.postulacion.años}}</td >
                <td><a href="{{postulante.postulacion.cv.url}}" target="_blank">Descargar</a></td>

                <td>                   
                    <a href="{% url 'psicologa:vista_rubrica' postulante.pk %}" class="btn btn-primary btn-sm"> Rúbrica</a>
                </td>     
                <td>                   
                    <a href="" class="btn btn-primary btn-sm"> Psicologica</a>
                </td>                            
            </tr>
        {% endfor %}
            {% for rubrica in rubrica %}
            {% if rubrica.opcion_1_1.value == 1 %}
                <p>bajo lo esperado</p>
            {% endif %}
            {{rubrica.opcion_1_2}}
            
            {{rubrica.opcion_1_3}}
            {% endfor %}
        </tbody>
    </table>



</div>

<div id="popup"></div>



<script>
    var modal;
    function abrir_modal(url, titulo)
    {
        modal = $('#popup').dialog(
        {
            title: titulo,
            modal: true,
            width: 500,
            resizable: false
        }).dialog('open').load(url)
    }
    
    function cerrar_modal()
    {
        modal.dialog("close");
    }
</script>

{% endblock %}