{% load static %}
<!--<link rel="stylesheet" href="{% static "css/menu.css" %}">--> 

<img class="img-thumbnail" src="{% static "img/logo.jpg" %}" alt="" width="200" height="100">


<div class="text-right">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user"></i> <!-- {{ user.first_name }}  {{user.last_name}}-->Psicologa<span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li><a href="{% url 'user' %}" target="_blank"> <i class="fas fa-user-cog"></i> Información de Usuario</a></li>
    <li><a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Salir</a></li>
  </ul>
</div>


<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link {% if active == 'new' %} active{% endif %}"  href="{% url 'psicologa:index' %}"  >Postulantes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if active == 'new2' %} active{% endif %} " href="{% url 'psicologa:entrevistados' %}">Entrevistados</a>
    </li>
</ul>