{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}


{% include 'psicologa/header.html' with active='new' %}

<br>

<div class="table-responsive">
    <table id="example" class=" table table-striped table-bordered display table-sm" >
        <thead>
            <tr>
                <th style="text-align: center;" scope="col">Postulante</th>
                <th style="text-align: center;" scope="col">Cargo</th>
                <th scope="col">Colegio</th>
                <th style="text-align: center;" scope="col">Años Experiencia</th>
                <th style="text-align: center;" scope="col">CV</th>
                <th style="text-align: center;" scope="col">Fecha</th>

                <th></th>
                <th></th>

            </tr>
        </thead>
        
        <tbody>
        {% for postulante in postulantes %}
            <tr>
                <td class="text-center">{{postulante.postulacion.nombre}} {{postulante.postulacion.apellido_p}} {{postulante.postulacion.apellido_m}}</td>
                <td class="text-center">{{postulante.postulacion.cargo}}</td>
                <td class="text-center"> {{postulante.postulacion.colegio1}}</td>
                
                <td style="text-align: center;">{{postulante.postulacion.años}}</td >
                <td class="text-center"><a href="{{postulante.postulacion.cv.url}}" target="_blank"><i class="fas fa-file-download"></i></a></td>
                <td class="text-center">{{postulante.postulacion.enviada|date:"d/m/Y"}}</td>

                <td class="text-center">                   
                    <a href="{% url 'psicologa:vista_rubrica' postulante.pk %}" class="btn btn-primary btn-sm"> Rubrica</a>
                </td>     
                <td class="text-center">                   
                    <a href="{% url 'psicologa:rubrica' postulante.postulacion.pk %}" class="btn btn-primary btn-sm pulse"> Entrevistar</a>
                </td>                            
            </tr>
        {% endfor %}
        {% for postulantes_c in postulantes_c %}
        <tr>
            <td class="text-center">{{postulantes_c.postulacion.nombre}} {{postulantes_c.postulacion.apellido_p}} {{postulante_c.postulacion.apellido_m}}</td>
            <td class="text-center">{{postulantes_c.postulacion.cargo}}</td>
            <td  class="text-center" style="text-align: center;"> {{postulantes_c.postulacion.colegio1}}</td>
            
            <td class="text-center" style="text-align: center;">{{postulantes_c.postulacion.años}}</td >
            <td class="text-center"><a href="{{postulantes_c.postulacion.cv.url}}" target="_blank"><i class="fas fa-file-download"></i></a></td>
            <td class="text-center">{{postulantes_c.postulacion.enviada|date:"d/m/Y"}}</td>

            <td class="text-center">                   
                <a href="{% url 'psicologa:vista_rubrica_coordinador' postulantes_c.pk %}" class="btn btn-primary btn-sm"> Rubrica</a>
            </td> 
            <td class="text-center">                   
                <a href="{% url 'psicologa:rubrica' postulantes_c.postulacion.pk %}" class="btn btn-primary btn-sm pulse"> Entrevistar</a>
            </td>                            
        </tr>
        {% endfor %}

        {% for postulantes_c in postulante_em %}
        <tr>
            <td class="text-center">{{postulantes_c.postulacion.nombre}} {{postulantes_c.postulacion.apellido_p}} {{postulante_c.postulacion.apellido_m}}</td>
            <td class="text-center">{{postulantes_c.postulacion.cargo}}</td>
            <td  class="text-center" style="text-align: center;"> {{postulantes_c.postulacion.colegio1}}</td>            
            <td class="text-center" style="text-align: center;">{{postulantes_c.postulacion.años}}</td >
            <td class="text-center"><a href="{{postulantes_c.postulacion.cv.url}}" target="_blank"><i class="fas fa-file-download"></i></a></td>
            <td class="text-center">{{postulante.enviada|date:"d/m/Y"}}</td>

            <td class="text-center">                   
                <a href="" class="btn btn-primary btn-sm"> Rubrica</a>
            </td> 
            <td class="text-center">                   
                <a href="{% url 'psicologa:rubrica' postulantes_c.postulacion.pk %}" class="btn btn-primary btn-sm pulse"> Entrevistar</a>
            </td>                            
        </tr>
        {% endfor %}
        </tbody>
    </table>



</div>

<div id="popup"></div>



<script>
    var modal;
    function abrir_modal(url, titulo)
    {
        modal = $('#popup').dialog(
        {
            title: titulo,
            modal: true,
            width: 500,
            resizable: false
        }).dialog('open').load(url)
    }
    
    function cerrar_modal()
    {
        modal.dialog("close");
    }
</script>

{% endblock %}